{# src/CoreBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}Caravane Quimper{% endblock title %}</title>

	{% block styles %}
		<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/core/css/layout.css') }}" />
		<link rel="stylesheet" href="{{ asset("bundles/foscomment/css/comments.css") }}" type="text/css" />
	{% endblock styles %}

	{% block icons %}
		<link rel="shortcut icon" type="image/svg" href="{{ asset("favicon.svg") }}">
		<link rel="shortcut icon" type="image/png" href="{{ asset("favicon.png") }}">
		<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ asset("favicon.ico") }}">
	{% endblock icons %}
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ path('index') }}">Caravane Quimper</a>
			</div>

			<ul class="nav navbar-nav">
				<li><a href="{{ path('core_actus_view', {page:1}) }}">Actualités</a></li>
				{% if is_granted('ROLE_PIOK') %}
					<li><a href="{{ path('core_chat_view') }}">Chat</a></li>
				{% endif %}
				<li><a href="{{ path('forum_forum_view_categories') }}">Forum</a></li>
				<li class="dropdown">
					<a href="{{ path('links') }}" data-toggle="dropdown">Liens utiles</a>
					<ul class="dropdown-menu">
						<li><a href="http://caravane.sgdf.fr">Le site national des PiosK</a></li>
						<li><a href="http://sgdf.fr">Le site des Scouts et Guides de France</a></li>
					</ul>
				</li>
				{% if is_granted('ROLE_CHEF') %}
					<li><a href="{{ path('core_chefs_index') }}">Chefs</a></li>
				{% endif %}
			</ul>

			<div class="pull-right">
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<p class="navbar-text">
						Connecté en tant que <a href="{{ path('fos_user_profile_show') }}" style="color: inherit;">{{ app.user.display }}</a>
					</p>
					<a class="btn btn-default navbar-btn" href="{{ path('fos_user_security_logout') }}">
						{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
					</a>
				{% else %}
					<a class="btn btn-default navbar-btn" href="{{ path('fos_user_security_login') }}">
						{{ 'layout.login'|trans({}, 'FOSUserBundle') }}
					</a>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="container">

		{# messages flashs #}
		{% for key, messages in app.session.flashbag.all() %}
			{% for message in messages %}
				<div class="alert alert-{{ key }}">
					{{ message|trans({}, 'FOSUserBundle') }}
				</div>
			{% endfor %}
		{% endfor %}

		{% block body %}{% endblock body %}
	</div>
	
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<hr style="border-color: #aaa; border-style: dashed; margin-top: 0;">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="btn-group btn-group-justified">
						<a href="{{ path('contact') }}" class="btn btn-default">
							<span class="glyphicon glyphicon-envelope"></span>
							Contact
						</a>
						<a href="{{ path('terms') }}" class="btn btn-default">
							Conditions d'utilisation
						</a>
						<a href="{{ path('credits') }}" class="btn btn-default">
							<span class="glyphicon glyphicon-copyright-mark"></span>
							Crédits
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	{% block scripts %}
		<script type="text/javascript" src="{{ asset('bootstrap/jquery-3.1.0.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	{% endblock scripts %}
</body>
</html>
