{% extends 'ResponsabilitesBundle::layout.html.twig' %}

{% block title %}Matériel -- {{ parent() }}{% endblock %}

{% block resp_body %}
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Responsable matériel</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				{# description de la responsabilité #}
				Ici, cette responsabilité permet la gestion de l'inventaire.
			</p>
			<ul class="list-group">
				{# liens vers les pages de la responsabilité #}
				{% if is_granted('ROLE_MATERIEL') %}
					<a href="{{ path('responsabilites_materiel_new_objet') }}" class="list-group-item active">
						Nouvel objet dans l'inventaire
					</a>
					<a href="{{ path('responsabilites_materiel_new_type') }}" class="list-group-item active">
						Nouveau type d'objets
					</a>
				{% endif %}
				<a href="{{ path('responsabilites_materiel_view_all_objet') }}" class="list-group-item">
					Voir tous les objets de l'inventaire
				</a>
				<a href="{{ path('responsabilites_materiel_view_all_type') }}" class="list-group-item">
					Voir tous les types d'objets
				</a>
			</ul>
		</div>
	</div>
{% endblock %}
