{% extends 'ResponsabilitesBundle::layout.html.twig' %}

{% block title %}Objets – {{ parent() }}{% endblock %}

{% block resp_body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h3>Les objets enregistrés</h3>
			{% if is_granted('ROLE_MATERIEL') %}
				<a href="{{ path('responsabilites_materiel_new_objet') }}" class="btn btn-primary">Nouvel objet</a>
			{% endif %}
			<p><a href="{{ path('responsabilites_materiel_view_all_type') }}">Voir les types d'objets</a></p>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Les objets existants :</h3>
				</div>
				<div class="list-group">
					{% for objet in objets %}
						<a href="{{ path('responsabilites_materiel_view_type', {objet: objet.id}) }}" class="list-group-item">
							{{ objet.nom }}
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
