{% extends 'ResponsabilitesBundle::layout.html.twig' %}

{% block title %}{{ objet.nom }} – Objet – {{ parent() }}{% endblock %}

{% block resp_body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h3>{{ objet.nom }}</h3>
			<p>
				Du type {{ objet.type.nom }}, cet objet possède les caractéristiques: <br>
				{{ objet.caracteristiques|bbcode_filter('responsabilites_filter') }}
			</p>
			{% if is_granted('ROLE_MATERIEL') %}
				<div class="btn-group">
					<a href="{{ path('responsabilites_materiel_edit_objet', {objet: objet.id}) }}" class="btn btn-warning">Modifier</a>
					<a href="{{ path('responsabilites_materiel_delete_objet', {objet: objet.id}) }}" class="btn btn-danger">Supprimer</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
