{% extends 'CoreBundle::layout.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="alert alert-warning">
				<h2>{{ 'html.titles.h2'|trans({'%code%': status_code}, 'error') }}</h2>
				<h3>{{ 'messages.404'|trans({}, 'error') }}</h3>
			</div>
			<p>
				{{ 'html.content404'|trans({}, 'error') }}
			</p>
			<!--<img src="{{ asset('404.jpg') }}" alt="">-->
			<pre>      /|   /‾‾‾‾‾‾‾\        /|     |\         |   /‾‾‾‾‾\   –––––––––
     / |  /         \      / |     | \        |  /       \      |
    /  |  |         |     /  |     |  \       | /         \     |
   /   |  |         |    /   |     |   \      | |         |     |
  /    |  |         |   /    |     |    \     | |         |     |
 /     |  |         |  /     |     |     \    | |         |     |
/______|_ |         | /______|_    |      \   | |         |     |
       |  |         |        |     |       \  | \         /     |
       |  \         /        |     |        \ |  \       /      |
       |   \_______/         |     |         \|   \_____/       |


|‾‾‾‾‾‾‾‾‾‾   /‾‾‾‾‾\   |         | |\         | |‾‾‾‾‾‾‾\
|            /       \  |         | | \        | |        \
|           /         \ |         | |  \       | |         \
|           |         | |         | |   \      | |         |
|–––––––    |         | |         | |    \     | |         |
|           |         | |         | |     \    | |         |
|           |         | |         | |      \   | |         |
|           \         / \         / |       \  | |         /
|            \       /   \       /  |        \ | |        /
|             \_____/     \_____/   |         \| |_______/</pre>
			<p>
				{{ 'html.content'|trans({'%path%': path('contact')}, 'error')|raw }}
			</p>
		</div>
	</div>
{% endblock %}
