{% extends 'ForumBundle::layout.html.twig' %}

{% trans_default_domain 'ForumBundle' %}

{% block title %}
	{{ 'forum.edit_forum.title'|trans }} – {{ forum.title }} – {{ categorie.title }} – {{ parent() }}
{% endblock %}

{% block forum_body %}
	<div class="row">
		<div class="col-lg-11 col-lg-offset-1">
			<h3>
				{{ 'forum.edit_forum.header'|trans({'%name%': forum.title}) }}
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 well">
			{% include 'ForumBundle:Forum:form.html.twig' %}
		</div>
	</div>
{% endblock %}
