{% extends 'ForumBundle::layout.html.twig' %}

{% block title %}
	{{ categorie.title }} – {{ parent() }}
{% endblock %}

{% block forum_body %}
	<div class="row">
		<div class="col-lg-11 col-lg-offset-1">
			<h3>
				{{ categorie.title }}
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<ul class="list-group">
				{% for forum in forums %}
					<a
						class="list-group-item"
						href="{{ path('forum_forum_view', {categorie: categorie.slug, slug: forum.slug}) }}">
						<span class="badge">
							{{ forum.datePublication|date('d/m/Y à h:i') }}
						</span>
						{{ forum.title }}
					</a>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<a class="btn btn-primary" href="{{ path('forum_forum_add_forum') }}">
					Nouveau
				</a>
			</div>
		</div>
	{% endif %}
{% endblock %}

