{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'UserBundle' %}

{% block title %}{{ 'group.edit.title'|trans }} – {{ parent() }}{% endblock %}

{% block fos_user_content %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h3>{{ 'group.edit.header'|trans({'%name%': group_name}) }}</h3>
			{{ form_start(form, { 'action': path('fos_user_group_edit', {'groupName': group_name}), 'attr': { 'class': 'fos_user_group_edit well' } }) }}
				{{ form_widget(form) }}
				<div>
					<input type="submit" value="{{ 'group.edit.submit'|trans }}" class="btn btn-primary" />
				</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock fos_user_content %}
