{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'UserBundle' %}

{% block title %}{{ 'group.new.title'|trans }} – {{ parent() }}{% endblock %}

{% block fos_user_content %}
	<div class="row">
		<div class="col-xs-12">
			<h3>{{ 'group.new.header' }}</h3>
		</div>
	</div>
	<div class="row">
		{{ form_start(form, { 'action': path('fos_user_group_new'), 'attr': { 'class': 'fos_user_group_new well' } }) }}
			{{ form_widget(form) }}
			<div>
				<input class="btn btn-primary" type="submit" value="{{ 'group.new.submit'|trans }}" />
			</div>
		{{ form_end(form) }}
	</div>
{% endblock fos_user_content %}
