{% trans_default_domain 'UserBundle' %}

<div class="row">
	<div class="col-md-9">
		<h4>{{ 'group.show.name'|trans({'%name%': group.name}) }}</h4>
	</div>
</div>
<div class="row">
	<div class="col-md-9">
		<h5>{{ 'group.show.members'|trans }}</h5>
		<ul>
			{% for user in group.users %}
				<li>{{ user.display }}</li>
			{% else %}
				<li>{{ 'group.show.no_members'|trans }}</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
	<div class="row">
		<div class="col-md-9">
			<div class="btn-group">
				<a href="{{ path('fos_user_group_edit', {groupName: group.name}) }}" class="btn btn-warning">
					{{ 'group.show.edit'|trans }}
				</a>
				<a href="{{ path('fos_user_group_delete', {groupName: group.name}) }}" class="btn btn-danger">
					{{ 'group.show.delete'|trans }}
				</a>
			</div>
		</div>
	</div>
{% endif %}
