{% extends "ResponsabilitesBundle::layout.html.twig" %}

{% trans_default_domain 'ResponsabilitesBundle' %}

{% block resp_body %}
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>{{ 'intendance.index.header'|trans }}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				{# description de la responsabilité #}
				{{ 'intendance.index.description.chapeau'|trans|bbcode_filter('all') }}
			</p>
			<h5>{{ 'intendance.index.description.menus.head'|trans }}</h5>
			<p>
				{{ 'intendance.index.description.menus.content'|trans|bbcode_filter('all') }}
			</p>
			<h5>{{ 'intendance.index.description.approvisionnement.head'|trans }}</h5>
			<p>
				{{ 'intendance.index.description.approvisionnement.content'|trans|bbcode_filter('all') }}
			</p>
			<h5>{{ 'intendance.index.description.proprete.head'|trans }}</h5>
			<p>
				{{ 'intendance.index.description.proprete.content'|trans|bbcode_filter('all') }}
			</p>
			<ul class="list-group">
				<a href="{{ path('responsabilites_intendance_view_all_menu') }}" class="list-group-item">
					{{ 'intendance.index.pages.menus'|trans }}
				</a>
			</ul>
		</div>
	</div>
{% endblock %}
