{% extends "ResponsabilitesBundle::layout.html.twig" %}

{% block title %}Menus – {{ parent() }}{% endblock %}

{% block resp_body %}
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Menus</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			{% if is_granted('ROLE_INTENDANCE') %}
				<div class="row">
					<div class="col-lg-8">
						<a href="{{ path('responsabilites_intendance_new_menu') }}" class="btn btn-primary">
							Nouveau
						</a>
					</div>
				</div>
			{% endif %}
			<div class="row">
				{% for menu in listMenus %}
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
						<h4>
							<a href="{{ path('responsabilites_intendance_view_menu', {slug: menu.slug}) }}">
								{{ menu.titre }}
							</a>
						</h4>
						<p>Le {{ menu.date|date('d/m/Y h:i') }}</p>
					</div>
				{% else %}
					<div class="col-lg-8">
						Il n'y a pas encore de menus.
					</div>
				{% endfor %}
			</div>
			{% if is_granted('ROLE_INTENDANCE') %}
				<div class="row">
					<div class="col-lg-8">
						<a href="{{ path('responsabilites_intendance_new_menu') }}" class="btn btn-primary">
							Nouveau
						</a>
					</div>
				</div>
			{% endif %}
			{% if nbPages != 0 %}
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<ul class="pagination">
							{% for p in 1..nbPages %}
								<li {% if p == page %}class="active"{% endif %}>
									<a href="{{ path('core_actus_view', {'page': p}) }}">{{ p }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
