{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class="row">
		{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'col-lg-10 col-lg-offset-1'}}) }}
			{{ form_errors(form) }}

			{{ form_row(form.nom) }}
			{{ form_row(form.prenom) }}
			{{ form_row(form.username) }}
			{{ form_row(form.email) }}
			{{ form_row(form.plainPassword.first) }}
			{{ form_row(form.plainPassword.second) }}

			{{ form_rest(form) }}
		    <div>
		        <input class="btn btn-primary btn-lg pull-right" type="submit" value="{{ 'registration.submit'|trans }}" />
		    </div>
		{{ form_end(form) }}
	</div>
{% endblock %}