{% extends 'CoreBundle::layout.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						{{ 'chat.view.header'|trans }}
					</div>
				</div>
				<ul class="list-group" id="chat-message-list">
					{{ render(controller("CoreBundle:Chat:getmessages")) }}
				</ul>
				<div class="panel-footer">
					<form class="input-group" id="chat-form">
						<span class="control-label" id="chat-msg-error"></span>
						<input id="chat-message" type="text" class="form-control" autofocus required>
						<div class="input-group-btn">
							<button class="btn btn-default" id="chat-btn-send" type="submit">
								<span class="glyphicon glyphicon-send"></span>
								<span class="sr-only">{{ 'chat.view.send'|trans }}</span>
							</button>
							<button class="btn btn-default" id="chat-btn-loading" type="button">
								<span class="glyphicon glyphicon-refresh" id="chat-loading-icon"></span>
								<span class="sr-only">{{ 'chat.view.actualize'|trans }}</span>
							</button>
							{#
								<button class="btn btn-default" type="button" id="chat-btn-sound">
									<span class="glyphicon glyphicon-volume-off" id="chat-sound-icon"></span>
									<span class="sr-only">{{ 'chat.view.sound'|trans }}</span>
									<audio id="chat-notification" preload="auto">
										<source src="{{ asset('bundles/core/media/notification.mp3') }}" type="audio/mp3">
										<source src="{{ asset('bundles/core/media/notification.ogg') }}" type="audio/ogg">
									</audio>
								</button>
							#}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script type="text/javascript">
	var chat = {
		errMsg: "{{ 'chat.view.js.chat_err_msg'|trans }}",
		getUrl: "{{ path('core_chat_getmessages') }}",
		sendUrl: "{{ path('core_chat_send') }}"
	}
	</script>
	<script type="text/javascript" src="{{ asset('bundles/core/js/chat.js') }}"></script>
{% endblock %}
