{% extends 'CoreBundle::layout.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						Chat entre PiosK
					</div>
				</div>
				<ul class="list-group" id="message-list">
					<li class="list-group-item">
						<span class="label label-info">username</span>
						<span class="badge">12s</span>
						Message
					</li>
				</ul>
				<div class="panel-footer">
					<form class="input-group">
						<span class="control-label" id="msg-error"></span>
						<input id="message" type="text" class="form-control" autofocus required>
						<div class="input-group-btn">
							<button class="btn btn-default" id="btn-send" type="submit">
								<span class="glyphicon glyphicon-send"></span>
								<span class="sr-only">Envoyer</span>
							</button>
							<button class="btn btn-default" id="btn-loading" type="button">
								<span class="glyphicon glyphicon-refresh" id="loading-icon"></span>
								<span class="sr-only">Actualiser</span>
							</button>
							<!--
								<button class="btn btn-default" type="button" id="btn-sound">
									<span class="glyphicon glyphicon-volume-off" id="sound-icon"></span>
									<span class="sr-only">Notification sonore</span>
									<audio id="chat-notification" preload="auto">
										<source src="{{ asset('bundles/core/Chat/notification.mp3') }}" type="audio/mp3">
										<source src="{{ asset('bundles/core/Chat/notification.ogg') }}" type="audio/ogg">
									</audio>
								</button>
							-->
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block styles %}
	{{ parent() }}
	<link type="stylesheet" href="{{ asset('bundles/core/css/chat.css') }}" />
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/core/js/chat.js') }}"></script>
{% endblock %}
