{% extends 'ResponsabilitesBundle::layout.html.twig' %}

{% trans_default_domain 'ResponsabilitesBundle' %}

{% block resp_body %}
	<div class="col-lg-8 col-lg-offset-2">
		<p>
			<blockquote>
				{{ 'index.quote'|trans|bbcode_filter('all') }}
				<br>
				<small class="pull-right">{{ 'index.quote_auth'|trans }}</small><br>
			</blockquote>
		</p>
		<p>
			{{ 'index.head'|trans }}
		</p>
		<ul class="list-group">
			<a href="{{ path('responsabilites_animation_index') }}" class="list-group-item">
				{{ 'index.pages.animation'|trans }}
			</a>
			<a href="{{ path('responsabilites_budget_index') }}" class="list-group-item">
				{{ 'index.pages.budget'|trans }}
			</a>
			<a href="{{ path('responsabilites_communication_index') }}" class="list-group-item">
				{{ 'index.pages.communication'|trans }}
			</a>
			<a href="{{ path('responsabilites_documentation_index') }}" class="list-group-item">
				{{ 'index.pages.documentation'|trans }}
			</a>
			<a href="{{ path('responsabilites_intendance_index') }}" class="list-group-item">
				{{ 'index.pages.intendance'|trans }}
			</a>
			<a href="{{ path('responsabilites_materiel_index') }}" class="list-group-item">
				{{ 'index.pages.materiel'|trans }}
			</a>
		</ul>
	</div>
{% endblock %}
