{% extends "CoreBundle:Index:layout.html.twig" %}

{% block index_body %}
	<h1>{{ 'index.index.header'|trans }}</h1>
	<hr>
	{% if nb_actus != 0 %}
		<div class="carousel slide" id="carousel">
			<div class="carousel-inner">
				{% for actu in actus %}
					<div class="item{% if loop.index0 == 0 %} active{% endif %}">
						<img src="{{ path('core_file_get', {id: actu.image.id}) }}" alt="{{ actu.image.originalName }}">
						<div class="carousel-caption">
							<h3>{{ actu.title }}</h3>
							<a href="{{ path('core_actus_viewone', {slug: actu.slug}) }}" class="btn btn-primary">{{ 'index.index.carousel.more'|trans }}</a>
						</div>
					</div>
				{% endfor %}
				<a class="left carousel-control" href="#carousel" data-slide="prev">
					<span class="icon-prev"></span>
				</a>
				<a class="right carousel-control" href="#carousel" data-slide="next">
					<span class="icon-next"></span>
				</a>
			</div>
		</div>
	{% endif %}
{% endblock %}
