{% extends "CoreBundle:Index:layout.html.twig" %}

{% block title %}{{ 'index.links.title'|trans }} – {{ parent() }}{% endblock %}

{% block index_body %}
	<h1>{{ 'index.links.header'|trans }}</h1>
	<hr>
	<ul>
		<li><a href="http://caravane.sgdf.fr">{{ 'index.links.caravane'|trans }}</a></li>
		<li><a href="http://sgdf.fr">{{ 'index.links.sgdf'|trans }}</a></li>
	</ul>
{% endblock %}
