{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class="row">
	    <dl class="col-lg-8 col-lg-offset-2">
	    	<dt>{{ 'profile.show.username'|trans }}</dt>
	    	<dd>{{ user.username }}</dd>

	    	<dt>{{ 'profile.show.email'|trans }}</dt>
	    	<dd>{{ user.email }}</dd>
	    </dl>
	</div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<div class="btn-group btn-group-justified">
				<a href="{{ path('fos_user_change_password') }}" class="btn btn-warning">{{ 'change_password.submit'|trans }}</a>
				<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">Modifier les informations</a>
			</div>
		</div>
	</div>
{% endblock fos_user_content %}
