{% extends 'CoreBundle:Chefs:layout.html.twig' %}

{% block chefs_body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>{{ 'chefs.index.header.0'|trans }}</p>
			<p>{{ 'chefs.index.header.1'|trans }}</p>
			<ul>
				<li>
					<a href="{{ path('core_chefs_send_email') }}">
						{{ 'chefs.index.send_mail'|trans }}
					</a>
				</li>
				<li>
					<a href="{{ path('fos_user_group_list') }}">
						{{ 'chefs.index.list_group'|trans }}
					</a>
				</li>
				<li>
					<a href="{{ path('user_role_view') }}">
						{{ 'chefs.index.view_roles'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
