{% extends 'CoreBundle:Chefs:layout.html.twig' %}

{% block chefs_body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			{% for index in 0..1 %}
				<p>{{ ('chefs.index.header.' ~ index)|trans }}</p>
			{% endfor %}
			<ul>
				<li>
					<a href="{{ path('core_chefs_send_email') }}">
						{{ 'chefs.index.send_mail'|trans }}
					</a>
				</li>
				<li>
					<a href="{{ path('fos_user_group_list') }}">
						{{ 'chefs.index.list_group'|trans }}
					</a>
				</li>
				<li>
					<a href="{{ path('user_role_view') }}">
						{{ 'chefs.index.view_roles'|trans }}
					</a>
				</li>
				<li>
					<a href="{{ path('discutea_forum_admin_dashboard') }}">
						{{ 'chefs.index.forum_dashboard'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
