{% extends 'ResponsabilitesBundle::layout.html.twig' %}

{% trans_default_domain 'ResponsabilitesBundle' %}

{% block title %}{{ 'animation.index.title'|trans }} ‒ {{ parent() }}{% endblock %}

{% block resp_body %}
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>{{ 'animation.index.header'|trans }}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				{# description de la responsabilité #}
				{{ 'animation.index.description.chapeau'|trans|bbcode_filter('all') }}
			</p>
			<h5>{{ 'animation.index.description.materiel.head'|trans }}</h5>
			<p>
				{{ 'animation.index.description.materiel.content'|trans|bbcode_filter('all') }}
			</p>
			<h5>{{ 'animation.index.description.talents.head'|trans }}</h5>
			<p>
				{{ 'animation.index.description.talents.content'|trans|bbcode_filter('all') }}
			</p>
			<ul class="list-group">
				{# liste des pages du site utiles #}
				{#<a href="#" class="list-group-item"></a>#}
			</ul>
		</div>
	</div>
{% endblock %}
