{% extends 'ResponsabilitesBundle::layout.html.twig' %}

{% trans_default_domain 'ResponsabilitesBundle' %}

{% block title %}{{ 'budget.extra_job.view.title'|trans }} – {{ parent() }}{% endblock %}

{% block resp_body %}
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<table class="table table-striped table-condensed">
					<div class="panel-heading">
						<h3 class="panel-title">{{ 'budget.extra_job.view.header'|trans({'%year%': year, '%next_year%': (year + 1)}) }}</h3>
					</div>
					<thead>
						<tr>
							<th>{{ 'budget.extra_job.view.thead.equipe'|trans }}</th>
							<th>{{ 'budget.extra_job.view.thead.comments'|trans }}</th>
							<th>{{ 'budget.extra_job.view.thead.montant'|trans }}</th>
							{% if is_granted('ROLE_BUDGET') or is_granted('ROLE_CHEF') %}<th></th>{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for extra_job in extraJobs %}
							<tr>
								<td>{{ extra_job.equipe.name }}</td>
								<td>{{ extra_job.commentaires|default('')|bbcode_filter('responsabilites_filter') }}</td>
								<td>{{ extra_job.montant }}</td>
								{% if is_granted('ROLE_BUDGET') or is_granted('ROLE_CHEF') %}
									<td>
										<a
										href="{{ path('responsabilites_budget_extra_job_delete', {id: extra_job.id}) }}"
										title="{{ 'budget.extra_job.view.delete_warning'|trans }}"
										>
											{{ 'budget.extra_job.view.delete'|trans }}
										</a>
									</td>
								{% endif %}
							</tr>
						{% else %}
							<tr>
								<td colspan="{% if is_granted('ROLE_BUDGET') or is_granted('ROLE_CHEF') %}4{% else %}3{% endif %}">{{ 'budget.extra_job.view.no_extra'|trans }}</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot class="panel-footer">
						<tr>
							<td colspan="{% if is_granted('ROLE_BUDGET') or is_granted('ROLE_CHEF') %}4{% else %}3{% endif %}">
								{{ 'budget.extra_job.view.cad'|transchoice(nbExtraJobs, {'%montant%': recettes})|bbcode_filter('all') }}
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			{% if is_granted('ROLE_BUDGET') or is_granted('ROLE_CHEF') %}
				<a href="{{ path('responsabilites_budget_extra_job_add') }}" class="btn btn-info">
					{{ 'budget.extra_job.view.new'|trans }}
				</a>
				<br>
			{% endif %}
			<ul class="pagination">
				<li>
					<a href="{{ path('responsabilites_budget_extra_job_view', {year: year - 1}) }}">
						&lt;&lt;
					</a>
				</li>
				<li class="active">
					<a href="{{ path('responsabilites_budget_extra_job_view', {year: year}) }}">
						{{ year~'-'~(year + 1) }}
					</a>
				</li>
				<li>
					<a href="{{ path('responsabilites_budget_extra_job_view', {year: year + 1}) }}">
						&gt;&gt;
					</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
