{% extends 'UserBundle::layout.html.twig' %}

{% trans_default_domain 'UserBundle' %}

{% block title %}{{ 'role.view.title'|trans }} – {{ parent() }}{% endblock %}

{% block fos_user_content %}
	<h3>{{ 'role.view.header'|trans }}</h3>
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-bordered table-condensed table-striped">
				<thead>
					<tr>
						<th>{{ 'role.view.thead.username'|trans }}</th>
						<th>{{ 'role.view.thead.name'|trans }}</th>
						<th>{{ 'role.view.thead.nickname'|trans }}</th>
						<th>{{ 'role.view.thead.role'|trans }}</th>
						<th>{{ 'role.view.thead.ban'|trans }}</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>{{ 'role.view.thead.username'|trans }}</th>
						<th>{{ 'role.view.thead.name'|trans }}</th>
						<th>{{ 'role.view.thead.nickname'|trans }}</th>
						<th>{{ 'role.view.thead.role'|trans }}</th>
						<th>{{ 'role.view.thead.ban'|trans }}</th>
					</tr>
				</tfoot>
				<tbody>
					{% for user in users %}
						<tr>
							<td>
								{% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
									<a href="{{ path('user_role_edit', {username: user.username}) }}" title="Modifier">
										{{ user.username }}
									</a>
								{% else %}
									{{ user.username }}
								{% endif %}
							</td>
							<td>{{ user.nom }}</td>
							<td>{{ user.prenom }}</td>
							<td>{% for role in user.roles %}{{ ('role.view.roles.' ~ role)|trans }} {% endfor %}</td>
							<td>{% if user.locked %}<strong>{{ 'role.view.banned.yes'|trans }}</strong>{% else %}{{ 'role.view.banned.no'|trans }}{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}